@import "../../scss/index.scss";
.header {
    position: relative;
    padding: 10px 150px;
    background-color: $productPriceColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include table {
        padding: 10px 20px;
    }
    &__logo {
        font-size: 2.5rem;
        color: $whiteColor;
        text-transform: uppercase;
        &-link {
            color: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                display: none;
                @include table {
                    display: flex;
                }
            }
            span {
                @include table {
                    display: none;
                }
            }
        }
    }

    &__search {
        position: relative;
        width: 300px;
        background-color: $whiteColor;
        display: flex;
        align-items: center;
        border-radius: 10px;
        input {
            padding: 7px;
            border: none;
            border-radius: 10px;
            outline: none;
            width: 100%;
            font-size: 1.3rem;
        }
        &-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        @include table {
            display: none;
        }
    }

    &__options {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /*  @include table {
            display: none;
        } */
    }
    &__item {
        display: flex;
        align-items: center;
        width: 120px;
        justify-content: center;
        margin-right: 15px;
        cursor: pointer;
        padding: 5px;
        @include table {
            width: 70px;
        }
        &:last-child {
            margin-right: unset;
        }
        &-title {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            font-size: 1.3rem;
            color: $whiteColor;
            span:nth-child(2) {
                font-weight: bold;
            }
            @include table {
                font-size: 1.2rem;
            }
        }
    }
    &__icon {
        font-size: 3rem;
        margin-right: 10px;
        color: $whiteColor;
        @include table {
            font-size: 2rem;
            display: none;
        }
    }
}
